$font-stack:    "Roboto Mono", sans-serif;
$primary-color: #333;
$break-small: 480px;
$break-medium: 960px;
$break-large: 1200px;

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=latin,greek);


body {
  	margin: 0;
  	font-family: $font-stack;
}

main {
	position: relative;
	z-index: 0;
	top: 50px;
}

header {
	height: 60px;
	max-width: 50%;
	background-color: white;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    margin: 0 auto;
	z-index: 1;



 nav{
	float: right;
	margin-right: 0px;
	margin-top: 28px;

 ul{
	list-style-type: none;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	margin-right:10px;

	li{
	display: block;
	display: inline;
}
}

}

}
.block-grid{
	position:relative;
width:33.33%;
float:left;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media screen and (max-width: $break-medium) {
width:50%;
  }
@media screen and (max-width: $break-small) {
   width:50%;

  }


}


.grid-gutter{
	
margin:0 10px 10px 0;


}
.grid-gutter-end{
	
margin:0 0 10px 0;
padding-right:10px


}
.work-image{
	
width:100%;

}

.form-thanks{
	
background-color:#fafbc4;
padding:10px;
margin-bottom:20px;

}
.field {

width:200px;	
margin-bottom:10px;
padding:10px;
}

.navlink{
	color: #333333;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;

}

.navlink:hover{
	text-decoration: underline;
}


#headerlogo{
	float: left;
	margin-left: 0px;
	margin-top: 28px;
	color: #333333;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

#headerlogo:hover{
	text-decoration: underline;
}

main p{
	margin-bottom: 0;
	margin-top: 0;
}

#about{
	height: 40px;
	max-width: 50%;
    position: relative;
    top: 0;
    margin: 0 auto 0 auto;
    font-size: 11px;
	font-weight: normal;
	color: #333333;
}

#work{
	height: 300px;
	max-width: 51.5%;
	position: relative;
	padding: 0px;
    margin: auto;

}

#works{
	
	width: 100%;
}

#workb{
	float: left;
	width: 31%;
	margin-right: 3.5%
}

#workc{
	float: left;
	width: 31%;
}

.readMore {
	/*color: rgba (0,0,0,1);*/
	color: black;
	opacity: 1;
	transition: opacity .1s;
}
.readMore.hide {
	opacity: 0;
	/*color: rgba (0,0,0,0);*/
  /*display: none;*/
}

.read-more-show{
	text-decoration: none;
	/*color: black;*/
}

.read-more-show:hover{
	text-decoration: underline;
}

.read-more-hide{
	text-decoration: none;
	/*color: black;*/
}

.read-more-hide:hover{
	text-decoration: underline;
}

.border1{
	border-top: dotted 1px;
	position: relative;
	padding: 0px;
    margin: 3% auto 3% auto;
}

.work1 {
	width: 100%;
	height: 0;
	margin-bottom: 11%;
	padding-bottom: 100%;

	transition: background-image .008s linear .008s, background-size .008s linear .008s;
}

#hideTarget {
	max-height: 0px;
	position: relative;
	overflow: hidden;
	transition: max-height 1s;
}
#hideTarget.specialShow {
	max-height: 10000px;

}

.work1:hover{
	background-image: url("images/CNN.jpg");
	background-size: 102%;
	background-position: center;

}



#menu-icon {

	display: hidden;
	width: 30px;
	height: 30px;
	background: #1c1c1c url(../images/menu-icon.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 1px 1px 0 0;

}


@media only screen and (max-width : 1050px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		/*padding: 20px;*/
		background: #fff;
		border: 1px solid #444;
		right: 0px;
		top: 60px;
		width: 100%;
		border-radius: 4px 0 4px 4px;

	}

nav li:hover{
	
	background:#000;
	color:#fff;
}
nav li:hover a{
	
	background:#000;
	color:#fff;
}



	nav li {

		text-align: center;
		/*width: 100%;*/
		padding: 10px;
		margin: 0;

	}
header nav ul li{
	display:block;

}
	nav:hover ul {
/*width:150px;*/
		display: block;

	}
	}


#worka .mix{
    display: none;
}


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



img.desaturate {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");

-webkit-transition : -webkit-filter 300ms linear

}
img.desaturate:hover {
	-webkit-filter: none;
	filter: none;
	
}


.block-grid span{
	display:none;
	position:absolute;
	bottom:10px;
	left:0;
	width:100%;
	text-align:center;
	background-color:rgba(255,255,255,0.8);
	/*margin:0 30px 0 30px;*/
	padding:10px;
	color:#000;

}
#menu-icon:focus{
	

	outline:none !important;
}

.top-name{
	color:#000;
	text-decoration:none;
}

.header nav ul li{
	padding:10px !important;
	margin:10px !important;

}